---
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
  lang?: string;
  image?: string;
}

const { title, description, lang = 'es', image } = Astro.props;
---

<Layout
  title={title}
  description={description}
  lang={lang}
  image={image}
  canonical={Astro.url.href}
>
  <main class="min-h-[calc(100vh-16rem)] py-8">
    <slot />
  </main>
</Layout>
